
.content {
  max-width: 700px;
  margin: 0 auto;
}

header {
    background-color: rgb(9, 108, 145);
    line-height: 6em;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 15px;
    margin-top: 20px;
    }

img {
    float: right;
    margin-top: 20px;
    margin-right: 20px;
}

h1 {
    color: #ffffff;
    margin-left: 140px;
}

h2 {
    background-color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
    border-bottom: 1px solid rgb(12, 11, 11);
    margin: 0 20px 0 20px;
}

ul { 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #fff;
    font-size: 17px;
    font-weight: lighter;
    padding-bottom: 30px;
    padding-left: 50px;
    padding-top: 20px;
}

footer {
    background-color: rgb(9, 108, 145);
    line-height: 2em;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 15px;
    }

p {
    text-align: center;
    color: white;
}

#date {
    margin-top: 0;
    font-size: small;
    color:rgb(235, 190, 44)
}

#copyright {
    margin-bottom: 0;
    font-size: medium;
}

footer a {
    color:rgb(241, 241, 64);
}


@media screen and (max-width: 550px){
    /* beginning of media query */
    header,
    footer,
    section,
    img,
    h1,
    nav {
      display: block;
    }
}
