
.content {
  max-width: 700px;
  margin: 0 auto;
}

header {
    background-color: rgb(9, 108, 145);
    line-height: 1.5em;
    font-family: 'Roboto', sans-serif;
    margin-top: 20px;
    text-align: center;
    }

img {

    margin-top: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

h1 {
    color: #ffffff;
    padding-bottom: 15px;
}

h2 {
    background-color: #fff;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: lighter;
    border-bottom: 1px solid rgb(12, 11, 11);
    margin: 0 20px 0 20px;
}

ul { 
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #fff;
    font-size: 17px;
    font-weight: lighter;
    padding-bottom: 30px;
    padding-left: 50px;
    padding-top: 20px;
    line-height: 25px;
}

footer {
    background-color: rgb(9, 108, 145);
    line-height: 2em;
    font-family: 'Roboto', sans-serif;
    }

p {
    text-align: center;
    color: white;
}

#date {
    margin-top: 0;
    font-size: small;
    color:rgb(241, 241, 64);
}

#copyright {
    margin-bottom: 0;
    font-size: 15px;
}

footer a {
    color: white;
}


