@media only screen and (min-width: 768px) and (max-width: 1023px){
    
	header img {
		width: 100%;
	}

	.headings h1 {
		font-size: 1.8rem;
	}

	#motto {
		letter-spacing: 1.5pt;
		font-size: larger;
		margin-left: 15px;
    }
	
    nav button {
		display: none;
	}

	nav ul {
		margin-left: 30px;
		padding-top: 20px;

	}

	nav ul li {
		float: left;
	}

	nav ul li a {
		border: none;
		padding: .6rem 1rem;
		font-size: 15px;
		font-weight: bolder;
		border-bottom: 3px solid rgb(131, 125, 125);

	}

	nav ul.hide {
		display: block;

	}

	main h2 {
		font-size: 18px;
	}
}

