  
  #whole-screen {
    margin: 0 auto;
  }

  #content {
    max-width: 960px;
    margin: 0 auto;
    background-color: white;
  }

header, footer{
    background-color: #830B4D; 
    border-radius: 15px;
    color: white;
}

header {
	background-color: #830B4D; 
	padding: 5px 5px;
	display: flex;
	align-items:center;
  justify-content: center;
  font-family: 'Encode Sans Expanded', sans-serif;
}

header img {
	width: 80px;
	height: auto;
}

.headings {
	display: flex;
  flex-direction: column;
}

.headings h1 {
	font-size: 1.4rem;
  margin: 0 0 0 17px;
  line-height: 40px;
}

#motto {
	font-style: italic;
	letter-spacing: 1pt;
	color: #fff;
	margin-left: 20px;
  font-size: 14px;
}

.sub-content {
 border-style: ridge;
 line-height: 30px;
 padding-left: 10px;
 padding-bottom: 10px;
 font-size: 17px;
 background-color: #DDF4F8;
font-family: 'Noto Sans Display', sans-serif;

}

main h2{
  padding-left: 10px;
  margin-top: 10px;
  font-family: 'Encode Sans Expanded', sans-serif;
}


footer {
    line-height: 20px;
    padding-top: .3px;
    padding-bottom: .3px;
    font-size: 15px;
    font-family: 'Noto Sans Display', sans-serif;
    margin-top: 30px;
    text-align: center;
}

footer a {
  color: white;
}

.main-content {
  background-color: #129cb4;
  padding: 20px 10px;
  margin: 30px 20px;
 }

 nav ul img {
  max-width: 60%;
  margin: .2rem 2%;
  border: none;
  text-align: center;
}

nav {
  border-bottom: 3px solid rgb(131, 125, 125);
  font-family: 'Encode Sans Expanded', sans-serif;
}

.navigation {
  list-style: none;
  padding: 0;
}

.navigation li:first-child {
  display: block;
}

.navigation li{
  display: none;
}

.navigation a {
  display: block;
  padding: 0.75rem;
  text-align: center;
  text-decoration: none;
  color: #830B4D;
}

nav ul li.active a{
  background-color: #eec2da;
}

nav ul li a:hover{
  background-color: #FFF85A;
}

.responsive li {
	display: block;
}


