@media only screen and (min-width: 35em){
    
    header img {
		width: 100%;
	}

	.headings h1 {
		font-size: 1.8rem;
    }

	#motto {
		letter-spacing: 1.5pt;
		font-size: larger;
		margin-left: 17px;
    }
    
    .main-content {
        background-color: #10b6d3;
       }

    nav button {
		display: none;
	}

	nav ul {
		margin-left: 2%;

	}

	nav ul li {
		float: left;
	}

	nav ul li a {
		border: none;
		padding: .8rem 1rem;
	}
}