@media only screen and (min-width: 1008px) {
    
    header img {
		width: 100%;
	}

	.headings h1 {
		font-size: 2rem;
	}

	#motto {
		letter-spacing: 1.5pt;
		font-size: larger;
		margin-left: 17px;
    }
	
	nav {
		border-bottom: 3px solid rgb(131, 125, 125);
	}


	.navigation {
		display: flex;
	}
	.navigation li {
		display: block; 
		flex: 1 1 auto;
	}
	.navigation a {
		text-align: center;
		font-size: 18px;
		font-weight: bold;
	}
	.navigation li:first-child {
		display: none;
	}


	main h2{
		font-size: 25px;
	}

	.main-image{
		position: relative;
		
	  }

	  .weather-summary {
	   position: absolute;
	   top: 15px;
	   left: 30px;
	 }
	 
	 .weather-summary h3 {
	   font-size: 20px;
	 }
	 
	 .preston-article img{
	   float: right;
	   margin-left: 15px;
	   margin-bottom: 15px;
	 }
	  
	  
	  .map iframe{
		max-width: 100%;
	  }
	 
	 .contact-info {
	   display: grid;
	   grid-template-columns: 1fr 1fr;
	   grid-gap: 20px;
	 }
	 
	 .map {
	   grid-column: 1/2;
	 }

	 .contacts {
	   grid-column: 2/3;
	   padding-top: 2rem;
	   padding-left: 4rem;
	   
	 }




/* ------------------------------------ Gallery Page -------------------------------- */

.gallery {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.gallery figure{
	transition: transform 1s;
}

.gallery figure:hover {
	transform: scale(1.3);
	box-shadow: 2px 2px 5px grey, -2px -2px 5px grey;
}

.welcome {
	font-size: 18px;

  }

/* ------------------------------------ Storm Center Page -------------------------------- */

.form-body{
	background-image: url("../images/storm-report.jpeg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;  
  }

  form {
	  padding-top: 1rem;
  }

legend {
	font-size: 1.2rem;
  }


/* ------------------------------------ Thanks Page -------------------------------- */
  main p.thanks {
	font-size: 25px;
	text-align: center;
	margin-top: 50px;
	margin-bottom: 200px;
	font-family: 'Noto Sans Display', sans-serif;
  }
  
/* ------------------------------------ Homepage -------------------------------- */

.main-article figure {
	max-width: 100%;
	float: right;
	margin-left: 10px;
}

.main-article figcaption{
	text-align: right;
}

.center-para {
	font-size: 23px;
}

.town-data {
	padding: 25px 25px;
  }

.town-data section{
	border:1px solid #bbb;
	padding: 0;

}

.town-data section h3{
	font-size: 25px;
	margin-bottom: 0;
}
.town-data section p{
	font-size: 18px;
}

.town-data section h4 {
	font-style: italic;
	line-height: 20px;
	margin-top: 10px;
	font-size: 17px;
}

.town-data{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 20px;
}

.town-data section img {
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	max-width: 100%;
	height: auto;
	margin-top: 0;
  }

}