  
  /* ----------------------- Preston Page CSS -------------------------- */

  #whole-screen {
    margin: 0 auto;
  }

  #content, footer {
    max-width: 960px;
    margin: 0 auto;
    background-color: white;
  }

header, .footer-bar{
    background-color: #830B4D; 
    color: white;
}

header {
	background-color: #830B4D; 
	padding: 5px 5px;
	display: flex;
	align-items:center;
  justify-content: center;
  font-family: 'Encode Sans Expanded', sans-serif;
}

header img {
	width: 80px;
	height: auto;
}

.headings {
	display: flex;
  flex-direction: column;
}

.headings h1 {
	font-size: 1.4rem;
  margin: 0 0 0 17px;
  line-height: 40px;
}

#motto {
	font-style: italic;
	letter-spacing: 1pt;
	color: #fff;
	margin-left: 20px;
  font-size: 14px;
}

.footer-bar {
    line-height: 20px;
    padding-top: .3px;
    padding-bottom: .3px;
    font-size: 15px;
    font-family: 'Noto Sans Display', sans-serif;
    text-align: center;
}

.footer-bar a {
  color: white;
}

 nav ul img {
  max-width: 60%;
  margin: .2rem 2%;
  border: none;
  text-align: center;
}

nav {
  border-bottom: 3px solid rgb(131, 125, 125);
  font-family: 'Encode Sans Expanded', sans-serif;
}

.navigation {
  list-style: none;
  padding: 0;
}

.navigation li:first-child {
  display: block;
}

.navigation li{
  display: none;
}

.navigation a {
  display: block;
  padding: 0.75rem;
  text-align: center;
  text-decoration: none;
  color: #830B4D;
}

nav ul li.active a{
  background-color: #eec2da;
}

nav ul li a:hover{
  background-color: #FFF85A;
}

.responsive li {
	display: block;
}
 
 main h2{
   margin-top: 15px;
   margin-bottom: 20px;
   font-family: 'Encode Sans Expanded', sans-serif;
   text-align: center;
   padding: 10px;
   text-shadow:3px 3px 5px rgb(218, 214, 218);
   letter-spacing: 2px;
   font-size: 20px;
   color: #11525e;
   font-weight: 900;
 }

 picture img {
  max-width: 100%;
  height: auto;
 }

 .weather-summary {
  background: radial-gradient(#eee, #f5ef7f);
  box-shadow: 0 0 30px #333;
  opacity: 0.9;
  font-family: 'Noto Sans Display', sans-serif;
  margin-top: 10px;
  font-size: 15px;
  display: grid;
  padding: 15px;
  grid-template-columns: 120px auto;
  justify-content: center;
  grid-gap: 5px;
  line-height: 1px;
}

.weather-summary h3{
  grid-column: 1/3;
  text-align: center;
  border-bottom: 1px solid rgb(82, 79, 79);
  padding-bottom: 10px;
  margin-bottom: 5px;
}

.weather-summary p.label{
  grid-column: 1/2;
  text-align: right;
  
}

.weather-summary p.value {
  grid-column: 2/3;
  color: #830B4D;
  
}

.weather-summary h3 {
  font-size: 17px;
  text-align: center;
}

.weather-summary p{
  margin: 10px;
}

#forecast {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  text-align: center;
  background-color:#eec2da;
  font-family: 'Noto Sans Display', sans-serif;
  line-height: 10px;
}

#subtitle {
  font-size: 15px;
}

.days:first-child {
  grid-column: 1/2;
  border-bottom-style: groove;
  border-left-style: groove;
  border-top-style: groove;
}

.days:nth-child(2) {
  grid-column: 2/3;
  border-bottom-style: groove;
  border-left-style: groove;
  border-top-style: groove;
}

.days:nth-child(3) {
  grid-column: 3/4;
  border-left-style: groove;
  border-bottom-style: groove;
  border-right-style: groove;
  border-top-style: groove;
}

.days:nth-child(4) {
  grid-column: 4/5;
  border-bottom-style: groove;
  border-right-style: groove;
  border-top-style: groove;
}

.days:nth-child(5) {
  grid-column: 5/6;
  border-bottom-style: groove;
  border-right-style: groove;
  border-top-style: groove;
}

.weekday {
  background-color: #DDF4F8;
  padding: 15px 5px 15px 5px;
  margin-top: 0;
  font-weight: 500;
  font-size: 17px;
}

.icon img{
  object-fit: contain;
  width: 70px;
  height: auto;
}

.current-temp {
  color: #830B4D;
  font-size: 18px;
}

article {
  background-color: #DDF4F8;
  padding: 1rem 1.5rem;
  margin-top: 2rem;
  font-family: 'Noto Sans Display', sans-serif;
  font-size: 17px;
  line-height: 25px;
}

article img{
  max-width: 100%;
  height: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

.contact-info {
  background-color: #b6eef8;
  font-family: 'Noto Sans Display', sans-serif;
  padding: 1rem 1.5rem;
  margin-top: 2rem;
  font-size: 17px;
  line-height: 25px;
}
.map iframe{
  max-width: 100%;
}

.contacts {
  padding-bottom: 20px;
}

#alert-banner {
  background-color: #bcf7c9;
  padding: 1rem 1rem;
  font-family: 'Noto Sans Display', sans-serif;
  font-size: 20px;
  text-align: center;
  display: none;
}

/* ------------------------------------ Gallery CSS -------------------------------- */

.gallery img {
  margin: auto;
   max-width: 100%;
}

.gallery figure figcaption {
  font-family: 'Noto Sans Display', sans-serif;
  font-style: italic;
  font-size: 15px;
}

main.gallery {
  margin-bottom: 30px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: block;
  text-align: center;
  padding: 0 0 10px 0;
  
}

.welcome {
  font-family: 'Noto Sans Display', sans-serif;
  font-size: 15px;
  margin-left: 40px;
  font-style: italic;
  color: #056a7c;

}


/* ------------------------------------ Storm Center CSS -------------------------------- */




form {
  font-size: 16px;
  font-family: 'Noto Sans Display', sans-serif;
  max-width: 600px;
  margin: 0 auto;
}

fieldset{
  margin: 2rem 0;
  border: 1px solid #78dcee;
  border-radius: 10px;
  border-radius: 10px;
  padding: .5rem 2%;
  background-color: #DDF4F8;
}

legend {
  margin: 0;
  font-size: 1rem;
  background-color:#8feafa;
  color: black;
  padding: .5rem;
  border-radius: 8px;
}

label.contact, label.storm, label.info {
  display: block;
  padding-top: 1rem;
  margin-bottom: 1rem;
  color: #830B4D;
}

label.contact input, label.storm select, label.storm input {
  display: block;
  border: solid 1px #999;
  border-radius: 4px;
  padding: .75rem;
  color: #555;
  background-color: whitesmoke;
}

label.radio{
  display: block;
  padding-bottom: .5rem;
}

label.radio input {
  margin: .3rem;
}

input[type="radio"] {
  height: 20px;
  width: 20px;

}

textarea {
  width: 99%;
  height: 300px;

}

input.submitBtn{
  border: none;
  background-color: #830B4D;
  color: white;
  border-radius: 1rem;
  padding: .75rem 1.5rem;
  margin: 0 0 2rem 2%;
  font-size: 1.2rem;
}

label.contact input:required {
  border-left: red solid 6px;
}

label.contact input:required:valid {
  border-left: green solid 6px;
}

/* ------------------------------------ Thanks Page -------------------------------- */

main p.thanks {
  font-size: 18px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 200px;
  font-family: 'Noto Sans Display', sans-serif;
}


/* ------------------------------------ Attributions Page -------------------------------- */

#attributions {
  font-size: 20px;
  margin-bottom: 100px;
}


/* ------------------------------------ Home Page-------------------------------- */

.center-para {
  font-size: 18px;
  font-family: 'Noto Sans Display', sans-serif;
  text-align: center;
  line-height: 40px;
  font-style: italic;
  color: #830B4D;
}

.main-article figure {
  margin: 20px 0;
}

.main-article figcaption {
  font-size: 15px;
}

.source {
  font-size: 15px;
}

.town-data {
  background-color: #DDF4F8;
  font-family: 'Noto Sans Display', sans-serif;
  text-align: center;
  padding-top: 30px;
}

.town-data section {
  background-color: #eec2da;
  padding-bottom: 20px;
  margin-bottom: 30px;
  border:1px solid #bbb;
  
}

.town-data section h3{
  margin-bottom: 0;
  color: #055968;
}

.town-data section h4 {
	font-style: italic;
	line-height: 25px;
  margin-top: 5px;
  color:#055968;
}

.town-data section img {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  max-width: 100%;
  height: auto;
  margin-top: 20px;
}






