@media only screen and (min-width: 541px) and (max-width: 780px) {

	.heading h1 {
        font-size: 1.5rem;
        margin-left: 20px;
	}

 .navigation {
        display: flex;
        margin-left: 5px;
	}

	.navigation li {
		display: block; 
        flex: 1 1 auto;
        padding-left: 0;
        padding-right: 15px;
        letter-spacing: 2px;
	}
	.navigation a {
		text-align: left;
		font-size: 17px;

	}

	#social-top {
		padding-right: 2%;
	}

	.navigation li:first-child {
		display: none;
	}

	.herodiv img {
		position: relative;
	}
	
	.hero-message h2, #cta {
		position: absolute;
		color: white;
	}
	
	.hero-home {
		font-size: 1.5rem;
		top: 17rem;
		left: 5rem;
		line-height: 2rem;
		color: white;
		text-align: center;
		margin-bottom: 30px;
	}

	.hero-message #cta {
		font-size: 1.3rem;
		top: 24rem;
		left: 12rem;
		border: 2px solid #24305e;
		border-radius: 20px;
		background-color: #24305e;
		box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
		margin: 0;
	}

	#main-content {
		grid-template-columns: 70% 30%;
		max-width: 1200px;
		margin: 0 auto;
		display: grid;
		grid-gap: 10px;
		margin: 10px;
	}

	#col1 {
		grid-column: 1/2;
		grid-row: 1/2;
		padding: 1rem;
	}

	#current-weather, #forecast{
		border-radius: 10px;
		margin: 10px 10px 20px 10px;
	}

	#weather {
		grid-column: 2/3;
		padding: .5rem;
		margin: 0;
	}

	#forecast, #forecast h3 {
		display: block;
	}

	.days {
		border-bottom: 2px solid rgb(192, 184, 184);
	}

	#purpose {
		box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
		border-radius: 20px;
		text-align: center;
		padding: 10px;
		margin-bottom: 3rem;
	}

	#events > div {
		display: block;
		padding: 10px 20px 20px 20px;
		margin: 10px 20px;
		box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
		text-align: center
	}

	#events {
		border-radius: 20px;
		
		}


/*-------------------- Panglao page ------------------ */

#things-to-do > article {
	display: grid;
	grid-template-columns: 38% 62%;
	grid-gap: 10px;
}

#things-to-do .todo-description {
	grid-column: 2/3;
}

#things-to-do img {
	grid-column: 1/2;
	grid-row: span 2;
}

.todo-description{
	text-align: left;
}

#hero-city {
	font-size: 3rem;
	top: 15rem;
	left: 10rem;
	color: white;
}

/*  ------------------ Directory page ----------------- */

.business-cards {
    display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}

#button {
    display: block;
}







}
