main {
    max-width: 1200px;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
}

img {
    max-width: 100%;
}

.nav-social, section #contact, footer {
  font-family: 'Open Sans', sans-serif;
  background-color: #24305e;
  color:#FDFEFF;
}

#weather > div, #purpose, #events, partners {
    background-color: white;
}

header {
    font-family: 'Roboto', sans-serif;
    color: #24305e;
    background-color: #d2eaf7;;
}

header {
	padding: 5px 0;
	display: flex;
	align-items:center;
	justify-content:center;
}


.heading h1 {
	font-size: 1rem;
	margin: 0 0 0 20px;
}

.nav-social{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0;
}


.navigation {
    list-style: none;
    margin-left: 3%;
}

#social-top {
    padding-right: 5%;
}

.navigation li:first-child {
    display: block;  
  }
  
  .navigation li{
    display: none;
    letter-spacing: 3px;
    padding-bottom: 10px;
  
  }

  .navigation a{
      display: block;
      text-align: left;
      text-decoration: none;
  }

  .navigation a:link {
      color: white;
  }

  .navigation a:visited{
      color:#f76c6c;
  }

  .navigation a:hover {
      color: #ffe61a;
  }

  .navigation a:active {
    color: #ffe61a;
}

.navigation .active {
  text-decoration: underline;
  text-decoration-style:double;
}

  .responsive li {
    display: block;
}

.ham-menu  {
    max-width: 80%;

}

footer a:link {
    color: white;
    text-decoration: none;
}

footer a:visited {
    color: #ffe61a;
}
  
footer {
    text-align: center;
    padding: .3rem;
    font-size: .9rem;
}   

.herodiv img {
    filter: blur(1px);
    max-width: 100%;
    position: unset;
}

.hero-message h2, #cta {
    position: unset;
}

.hero-home {
    font-size: 1.2rem;
    line-height: 2rem;
    color: #24305e;
    margin-bottom: 30px;
    text-align: center;
}

#cta {
    border: 2px solid #f76c6c;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color:#f76c6c;
    padding: 10px;
}

#weather {
    text-align: center;
    font-size: 1.2rem;
    line-height: 30px;
}

#current-weather {
    border: 2px solid #f76c6c;
    border-radius: 10px;
    margin: 30px 50px;
    padding: 1rem;
}

#forecast {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: 2px solid #f76c6c;
    border-radius: 10px;
    margin: 10px 10px 20px 10px;
    padding: .5rem;
}

#forecast h3 {
    display: none;
}

#temp {
    font-size: 2rem;
    line-height: 20px;
    color: #f76c6c;
}

#forecast {
    margin-top: 2rem;
}

.forecast-temp {
    font-size: 1.2rem;
}

.forecast-temp, .days {
    color: #24305e;
}

#purpose h2, #events h2, #partners h2, #main-city h2 {
    font-size: 1.3rem;
    text-align: center;
}

#purpose, #abt-panglao, #things-to-do {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    text-align: center;
    padding: 10px;
    margin: 0 1rem 3rem 1rem;
}

#events {
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 2rem 1rem 1rem 1rem;
}

#events > div {
    display: block;
    padding: 10px 20px 20px 20px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    text-align: center;
}

#events > .date {
    grid-template-columns: 1/2;
}

#events > .events-images {
    grid-template-columns: 2/3;
}

#events > #col3-events {
    grid-template-columns: 3/4;
}

.date {
    font-size: 1.2rem;
    color: #666666;
    line-height: 2rem;
}

.col3-events {
  padding-right: 20px;

}

.events-images {
    padding-top: 10px;
    padding-bottom: 10px;
}

.event {
    font-weight: 900;
    color: #24305e;
    font-size: 1.1rem;
}

#partners {
    text-align: center;
    padding: 20px;
}

/* -------------------------- City Page ---------------------------- */


#main-city img{
    max-width: 100%;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}

#things-to-do, #abt-panglao{
    background-color: white;
    margin: 20px;
    border-radius: 20px;
}

#things-to-do {
    margin-bottom: 30px;
}

#things-to-do h3 {
    color: #24305e;
}

#things-to-do > article {
	border: 2px solid rgb(214, 209, 209);
	display: block;
    margin-top: 20px;
    padding: 20px;
}

#things-to-do img {
	text-align: center;
    padding-right: 0

}

.todo-description{
	text-align: center;
	padding-left: 10px;
	margin-left: 0;
}

#hero-city {
    text-align: center;
    color: #24305e;
    padding: 20px 0;
}

/*  --------------------------  Directory page  --------------  */

#button {
    display: none;
}

.mybtn {
    padding: 10px 10px;
    text-transform: uppercase;
    border: none;
    background-color: #eee;
    border-radius: 5px;
    outline: none;
    margin: 20px;
}

.business-info img {
    max-width: 100%;
   height: auto;
}


#directory span {
    font-family: 'Roboto', sans-serif;
}

.mybtn:hover {
    background-color: #aaaa;
}

#directory .Active, #directory .Active:hover {
    color: #fff;
    background-color: #f76c6c;
    border: 2px solid #f76c6c;
}

section > .business-info {
    background-color: white;
    text-align: center;
    padding: 10px 15px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}

.business-info h4 {
    font-size: 1.2rem;
}

.business-cards {
    display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  margin-bottom: 30px;
}

#button {
    display: none;
}


/*  ------------------------ Contact  page  --------------  */

#contact-page{
    margin: 20px;
}

h2.contact{
    text-align: center;
    color: #24305e;
    font-size: 20px;
}

#board img {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#board > div {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 10px;
    text-align: center;
    margin: 10px 0;
    
}

#board {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    text-align: center;
}

.director p:nth-of-type(1){
    font-size: 1rem;
    font-weight: bold;
}

#contact-us {
    display: block;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    text-align: left;
}

#comment-form {
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    padding: .5rem .5rem;
    margin-top: 1.5rem;
}

label.contact, label.info {
    display: block;
    padding-top: 1rem;
    margin-bottom: 1rem;
    color:#f76c6c;
}

label.contact input {
  display: block;
  border: solid 1px #999;
  border-radius: 4px;
  padding: .75rem;
  color: #555;
  background-color: whitesmoke;
}

.submitBtn {
    padding: .75rem;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    background-color: #f76c6c;
    margin-bottom: 10px;
}

textarea {
    width: 99%;
    height: 300px;
  }

#contact-info {
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    padding: .5rem 0;
    margin-top: 1.5rem;
 
}
#contact-info h3, #contact-info p{
    padding-left: .5rem;
}

#contact-info p:nth-of-type(2) {
    text-indent: 4.5rem;
}

iframe{
    max-width: 100%;
    text-align: center;
}











