main {
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    background-color: #d2eaf7;
    font-size: 17px;
}

.nav-social, section #contact, footer {
  font-family: 'Open Sans', sans-serif;
  background-color: #24305e;
  color:#FDFEFF;
}

#weather > div, article, #events, partners {
    background-color: white;
    max-width: 100%;
}

header {
    font-family: 'Roboto', sans-serif;
    color: #24305e;
    background-color: #d2eaf7;;
}

header {
	padding: 5px 0;
	display: flex;
	align-items:center;
	justify-content:center;
}

header img {
	width: 80px;
	height: auto;
}

.heading h1 {
	font-size: 1rem;
	margin: 0 0 0 20px;
}


.nav-social{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0;
}


.navigation {
    list-style: none;
    margin-left: 3%;
}

#social-top {
    padding-right: 5%;
}

.navigation li:first-child {
    display: block;  
  }
  
  .navigation li{
    display: none;
    letter-spacing: 3px;
    padding-bottom: 10px;
  
  }

  .navigation a{
      display: block;
      text-align: left;
      text-decoration: none;
  }

  .navigation a:link {
      color: white;
  }

  .navigation a:visited{
      color:#f76c6c;
  }

  .navigation a:hover {
      color: #ffe61a;
  }

  .navigation a:active {
    color: #ffe61a;
}

.navigation .active {
  text-decoration: underline;
  text-decoration-style:double;
}

  .responsive li {
    display: block;
}

.ham-menu  {
    max-width: 80%;

}

footer a:link {
    color: white;
    text-decoration: none;
}

footer a:visited {
    color: #ffe61a;
}
  
footer {
    text-align: center;
    padding: .3rem;
    font-size: .9rem;
}   

.herodiv img {
    filter: blur(1px);
    max-width: 100%;
}

.intro-message h2 {
    font-size: 1.2rem;
    line-height: 2rem;
    color: #24305e;
    text-align: center;
    margin-bottom: 30px;
}

.intro-message #cta {
    font-size: 1.1rem;
    border: 2px solid #f76c6c;
    background-color: #f76c6c;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 12px;
    color: white;
    border-radius: 20px;
    text-align: center;
    margin: 7rem;
}

#main-content {
    max-width: 1200px;
    margin: 0 auto;
}

#weather {
    padding: 1rem;
    margin: 30px 50px;    
}


#weather > div {
    border: 2px solid #f76c6c;
    text-align: center;
    border-radius: 10px;
    line-height: 30px;
    font-size: 1.1rem;
}

#temp {
    font-size: 2rem;
    line-height: 20px;
    color: #f76c6c;
}

#forecast {
    margin-top: 2rem;
}

.forecast-temp {
    font-size: 1.2rem;
}

.days {
    border-bottom: 2px solid rgb(192, 184, 184);
}

.forecast-temp, .days {
    color: #24305e;
}

article h2, #events h2, #partners h2 {
    font-size: 1.3rem;
    text-align: center;
}

article {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    text-align: center;
    padding: 10px;
    margin: 0 1rem 3rem 1rem;
}

#events {
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 2rem 1rem 3rem 1rem;
}

#events img {
    max-width: 100%;
}

#events > div {
    display: block;
    padding: 10px 20px 20px 20px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    text-align: center;
}

#events > .date {
    grid-template-columns: 1/2;
}

#events > .events-images {
    grid-template-columns: 2/3;
}

#events > #col3-events {
    grid-template-columns: 3/4;
}

.date {
    font-size: 1.2rem;
    color: #666666;
    line-height: 2rem;
}

.col3-events {
  padding-right: 20px;

}

.events-images {
    padding-top: 10px;
    padding-bottom: 10px;
}

.event {
    font-weight: 900;
    color: #24305e;
    font-size: 1.1rem;
}

#partners {
    margin-top: 1rem;
    text-align: center;
    padding: 20px;

}

#partners img {
    max-width: 100%;
}

