
body {
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;

}

#main-content {
    max-width: 1200px;
    margin: 0 auto;
}

h2.header-page {
     font-size: 1.3rem;
     color: #054a50;
     text-align: center;
     margin: 3rem 0;
}

img {
    max-width: 100%;
}

.nav-social, section #contact, footer {
  font-family: 'Open Sans', sans-serif;
  background-color: #026670;
  color: white;
}

 #purpose, #events, #partners {
    background-color: white;
}

#purpose h2, #events h2,  #partners h2 {
    color: #054a50;
}

header {
    font-family: 'Roboto', sans-serif;
    color: #edf5e1;
	display: flex;
	align-items:center;
	justify-content:center;

}

#logo {
    max-width: 80%;
}

.heading h1 {
    font-size: 1rem;
    padding: 0 20px 0 0;
    color: #054a50;
}

.nav-social{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0;
}


.navigation {
    list-style: none;
    margin-left: 3%;
}

#social-top {
    padding-right: 5%;
    font-size: 15px;
}

.navigation li:first-child {
    display: block;  
  }
  
  .responsive li {
    display: block;
}

.navigation li{
  display: none;
  letter-spacing: 3px;
  padding: 10px;
  font-size: 15px;

}

.navigation a{
  display: block;
  text-align: left;
  text-decoration: none;
}

  nav ul li.active a{
    background-color: black;

  }

  .navigation a:link {
      color: white;
  }

  .navigation a:visited{
      color: #9fedd7;
  }

  .navigation a:hover {
      color:#f8554e;
  }

  .navigation a:active {
    color: #043a3f;
}

.ham-menu  {
    max-width: 80%;
}

footer a:link {
    color: white;
    text-decoration: none;
}

footer a:visited {
    color: #ffe61a;
}
  
footer {
    text-align: center;
    padding: .3rem;
    font-size: .9rem;
}   

.hero-header .hero-message{
    height: 100%;
    width: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
}

.hero-container {
    position:relative;
    background: black;
}

.hero-container img{
    width:100%;
    height: 100%;
    opacity: 0.5;
}

.hero-message {
    margin-top: 3rem;
    color: white;
    text-align: center;
    margin-bottom: 20px;
}

.hero-message h2 {
    font-size: 1.8rem;
}

.hero-message span{
    font-size: 1.1rem;
}

#cta {
    color: black;
    background-color: #fce181;
    font-size: 1.2rem;
    border-radius: 20px;
    padding: 15px;
}


#weather > div {
    background-color: #edf5e1;
}

#weather {
    text-align: center;
    font-size: 1rem;
    line-height: 30px;
    margin-top: 20px;
}

#current-weather {
    border: 2px solid #edf5e1;
    border-radius: 10px;
    margin: 30px 50px;
    padding: 0;
}

#forecast {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: 2px solid #edf5e1;
    border-radius: 10px;
    margin: 10px 10px 20px 10px;
    padding: .5rem;
}

#forecast h3 {
    display: none;
}

#temp {
    font-size: 2rem;
    line-height: 20px;
    color: #f8554e;
}

#forecast {
    margin-top: 2rem;
}

.forecast-temp {
    font-size: 1.2rem;
}

.forecast-temp, .days {
    color: #24305e;
}

#purpose h2, #events h2, #partners h2, #main-city h2 {
    font-size: 1.3rem;
    text-align: center;
}

#purpose, #abt-panglao, #things-to-do {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    text-align: center;
    padding: 10px 20px;
    margin: 0 1rem 3rem 1rem;
}

#events {
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 2rem 1rem 1rem 1rem;
}

#events > div {
    display: block;
    padding: 10px 20px 20px 20px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    text-align: center;
}

.date {
    font-size: 1.2rem;
    color: #666666;
    line-height: 2rem;
}

.col3-events {
  padding-right: 20px;

}

.events-images {
    padding-top: 10px;
    padding-bottom: 10px;
}

.event {
    font-weight: 900;
    color: #24305e;
    font-size: 1.1rem;
}

#ads {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    grid-gap: 10px;
}

#partners {
    margin: 1rem 1.5rem 2rem;
}

#ads > p {
    margin-bottom: 0;
    padding: 0;
    line-height: 0;
}




/* -------------------------- Panglao Page ---------------------------- */


#things-to-do img{
    max-width: 100%;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
    text-align: center;
    transition: transform .2s;
}

#things-to-do img:hover {
    transform: scale(1.2);
  }

#things-to-do, #abt-panglao{
    background-color: white;
    border-radius: 20px;
}

#abt-panglao {
    padding: 1rem 1rem;
    margin-top: 2rem;
}

#things-to-do h3 {
    color: #24305e;
}

#abt-panglao h2, #things-to-do h2 {
    padding-top: 0;
    margin-top: 0;
}

#things-to-do > article {
	border: 2px solid rgb(214, 209, 209);
	display: block;
    margin-top: 20px;
    padding: 20px 10px;
}

.todo-description{
	text-align: left;
	padding-left: 10px;
	margin-left: 0;
}


/*  --------------------------  Directory page  --------------  */

#button {
    display: none;
}

.mybtn {
    padding: 10px 10px;
    text-transform: uppercase;
    border: none;
    background-color: #eee;
    border-radius: 5px;
    outline: none;
    margin: 20px;
}

.business-info img {
    max-width: 100%;
   height: auto;
}


#button span {
    font-family: 'Roboto', sans-serif;
}

.mybtn:hover {
    background-color: #aaaa;
}

#button .Active, #button .Active:hover {
    color: white;
    background-color: #054a50;
    border: 2px solid #054a50;
}

section > .business-info {
    background-color: white;
    text-align: center;
    padding: 10px 10px;
    margin: 30px 15px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    word-wrap: break-word;
}

.business-info h4 {
    font-size: 1.2rem;
}

.business-cards {
    display: block;
}

#button {
    display: none;
}

#directory-heading {
    font-size: 1.3rem;
    color: #054a50;
    text-align: center;
    margin-top: 3rem;
}


/*  ------------------------ Contact  page  --------------  */

#board img {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#board > div {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 10px;
    text-align: center;
    margin: 10px 0;
    
}

#board {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    text-align: center;
    padding: 1rem;
}

#contact-us {
    display: block;
    text-align: left;
    background-color: #edf5e1;
    margin: 2rem .5rem 1rem .5rem;
    padding: 1rem;
}

#comment-form {
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    padding: .5rem .5rem;
    margin-top: 1.5rem;
}

label.contact, label.info, label.business, label.description, label.radio{
    display: block;
    padding-top: 1rem;
    margin-bottom: 1rem;
    color:#054a50;
}

label.contact input, label.business input, label.description select {
  display: block;
  border: solid 1px #999;
  border-radius: 4px;
  padding: .75rem;
  color: #555;
}

.submitBtn-contact, .submitBtn-join {
    padding: .75rem;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    margin-bottom: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}

.submitBtn-contact{
    background-color: #054a50;
}

textarea {
    width: 99%;
    height: 300px;
  }

#contact-info {
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    padding: .5rem 0;
    margin-top: 1.5rem;
 
}
#contact-info h3, #contact-info p{
    padding-left: .5rem;
}

#contact-info p:nth-of-type(2) {
    text-indent: 4.5rem;
}

iframe{
    max-width: 100%;
    text-align: center;
}

.director h3 {
    font-size: 1.1rem;
}



/* --------------- Join Page --------------------------------- */

.form-body {
    margin: 0 auto;
    max-width: 600px;
}

fieldset {
    margin: 2rem 0; 
    border: 1px solid  #24305e;
    border-radius: 10px;
    border-radius: 10px;
    padding: .5rem 2%;
    background-color: #edf5e1;
}

legend {
    margin: 0;
    font-size: 1.1rem;
    color: #24305e;
    padding: .5rem;
    border-radius: 8px;
    background-color: #fce181;
  }

  .submitBtn-join {
    background-color: #fce181;
    color: #24305e;
    margin: 0 3rem 3rem 0;

  }

  input[type="radio"] {
    height: 20px;
    width: 20px;
  }
  
  label.contact input:required:valid {
    border-left: #1e2952 solid 6px;
  }

  label.radio span, .radio ul li {
      color: #24305e;
  }

  .radio .plan-list {
      padding-left: 2rem;
  }




/* ---------------- Thanks page --------------------- */

.thanks {
    text-align: center;
    margin: 5rem;
    color: #24305e;
}

#attributions {
    margin: 5rem;
    line-height: 30px;

}